<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polysfactory.androidwearsamplejp">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MyActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NotificationActivity"
            android:allowEmbedded="true"
            android:label="@string/app_name"></activity>

        <service android:name=".DataLayerListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".EmbeddedActivity"
            android:label="@string/title_activity_embedded"
            android:exported="true"
            android:allowEmbedded="true"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="com.polysfactory.androidwearsamplejp.action_open_custom_activity" />
            </intent-filter>
        </activity>
    </application>

</manifest>
